<h1>New Menu</h1>

<br>
<div class="container">
    

    <br> <br>
    <%= render 'form', menu: @menu, class: 'btn btn-primary' %>

    <br>
    <%= link_to 'Back', menus_path, class: 'btn btn-primary' %>
</div>


