<p>Ciao <%= @resource.email %>!</p>

<p>Qualcuno ha richiesto un collegamento per cambiare la tua password. Puoi farlo tramite il link sottostante.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se non l'hai richiesto, ignora questa email.</p>
<p>La tua password non cambierà finché non accedi al link sopra e ne crei uno nuovo.</p>
